/* #region CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: "Open Sans", sans-serif;
    min-width: 1020px;
}

/* #endregion CSS Reset */



/* #region Utilities */
:root {
    /* colors */
    --db-primary: #b4d0e6;
    --db-secondary: #0061fe;
    --db-darker: black;
    --db-lighter: white;

    /* font-size */
    --h1-size: 5rem;
    --h2-size: 2.75rem;
    --h3-size: 1.625rem;
    --standard-txt-size: 1.125rem;
    --card-txt-size: 1rem;
}

.large-container {
    width: 70%;
    margin: 0 auto;
}

.small-container {
    width: 60%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.m-bottom {
    margin-bottom: 5rem;
}

.padding {
    padding: 5rem 0;
}

.w-100 {
    width: 100%;
}

.button {
    color: var(--db-lighter);
    background-color: var(--db-secondary);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: none;
        background-color: #3d87ff;
    }
}

.opacity {
    opacity: 0.5;
}

/* #endregion utilities */



/* #region Generics */
h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p,
span,
a,
strong,
em {
    font-size: var(--standard-txt-size);
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.fa-arrow-down {
    font-size: var(--h2-size);
}

/* #endregion Generics */



/* debug */
.debug * {
    border: 1px dashed black;
}



/* #region header */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--db-lighter);

    padding: 0 1.2rem;
}

.menu {
    justify-content: space-between;
    align-items: center;
    height: 100%;


    img {
        cursor: pointer;
    }
}


.list-unstyled {
    align-items: center;
    gap: 1.5rem;
    height: 100%;

    li>a:not(.button) {
        padding: 1.5rem 0;
        height: 100%;
        display: inline-block;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid black;
        }
    }

    #inizia {
        padding: 0.5rem 1.5rem;
    }
}

header a {
    color: var(--db-darker);
}

/* #endregion header */



/* region main */

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--db-darker);
    opacity: 0.2;
    margin-top: 10rem;
}


/* #region jumbotron */
.jumbotron {
    width: 100%;
}

.jumbo-bg {
    width: 100%;
    background-color: var(--db-primary);
    position: relative;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.jumbo-content {
    position: relative;
}

.jumbo-content h1 {
    font-weight: 800;
    margin-bottom: 3rem;
}

.jumbo-txt {
    width: 30%;
}

.jumbo-txt .button {
    margin: 2rem 0;
}

.jumbo-txt i {
    margin-top: 5rem;
}

.jumbo-image {
    width: 70%;
    position: absolute;
    right: 0;


    img {
        width: 100%;
    }
}

#go_to_anchor {
    color: var(--db-darker);
}

/* #endregion jumbotron */



/* #region #business */
.billing {
    display: inline-block;

    span {
        margin-right: 1rem;
    }
}


.business-plan {
    h2 {
        margin-bottom: 3rem;
    }

    form {
        margin-bottom: 2rem;
    }
}

.business-title {
    width: 100%;
    height: 66px;
    background-color: darkorange;
}

.business-choice {
    width: 100%;
    height: 33px;
    background-color: darkorange;
}

.business-grid {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}



/* #region business-cards */
.business-card-w33 {
    width: 30%;
    background-color: var(--db-lighter);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.business-card-w100 {
    width: 100%;
    background-color: var(--db-lighter);
    border: 1px solid rgba(0, 0, 0, 0.5);


    p {
        margin-top: 3rem;
        width: 65%;
    }

    .d-flex {
        justify-content: space-between;
    }
}

.card-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0;
}

.card-content {
    padding: 3rem 2rem;

    strong,
    p,
    a,
    i {
        font-size: var(--card-txt-size);
        line-height: var(--card-txt-size);
    }

    h3 {
        margin-bottom: 1.2rem;
    }

    p.opacity {
        margin: 1rem 0;
        padding-bottom: 2rem;
    }

    p.d-flex {
        padding: 1rem 0;

        i {
            width: 1rem;
            margin-right: 0.5rem;
        }
    }

    .button {
        margin: 3rem 0;
        text-align: center;
    }

    .recap {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .d-flex .button,
    h3 {
        margin: 0;
    }
}


.buy-link {
    color: var(--db-secondary);
}

.card-separator {
    width: 20%;
    height: 2px;
    background-color: var(--db-darker);
    margin: 3rem 0;
}

.fa-check {
    color: var(--db-secondary);
}

/* #endregion business-card */

/* #endregion business */



/* #region partner */
.partner {
    height: 512px;
    justify-content: space-between;
}

.partner-img {
    width: 60%;
    height: 100%;

    img {
        width: 100%;
    }
}

.partner-text {
    width: 30%;
    height: 100%;

    h3 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

.partner-button {
    color: var(--db-darker);
    background-color: var(--db-lighter);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    margin-top: 3rem;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 2px 1px var(--db-secondary);
    }
}

/* #endregion partner */



/* #region operations */
#operations {
    h2 {
        margin-bottom: 5rem;
    }
}

.operations {
    width: 100%;
}

.operations-grid {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
}

.operations-grid-card {
    width: 30%;
    background-color: var(--db-lighter);

    img {
        width: 100%;
    }

    h3 {
        margin-bottom: 2rem;
    }
}

/* #endregion operations */



/* #region users */
.users {
    width: 100%;
    flex-wrap: wrap;
}

.users-title {
    width: 60%;
    margin-bottom: 4rem;
}

.users-text {
    width: 60%;

    a {
        color: var(--db-secondary);
    }
}

/* #endregion users */


/* #region footer */

footer {
    background-color: var(--db-darker);
    padding: 5rem 0;
}

.footer-content {
    flex-direction: column;
}

.about {
    width: 100%;
    justify-content: space-between;
}

.about-col {
    flex-direction: column;

    h3 {
        margin-bottom: 1rem;
        color: var(--db-lighter);
    }

    a {
        color: var(--db-lighter);
        text-decoration: none;
        margin-top: 1rem;
    }
}

.language {
    width: 10%;
    padding-top: 3rem;
    margin-top: 8rem;
    border-top: 1px solid var(--db-lighter);

    p {
        color: var(--db-lighter);
    }
}

/* #endregion footer */



/* #region dropdown */

.dropdown {
    width: 100%;
    height: 200px;
    background-color: orange;
}

.dropdown-content {
    width: 30%;
}

.dropdown-section {
    width: 50%;
    align-items: flex-start;
}

.dd-left {
    width: 20%;
}

.dd-icon{
    width: 80%;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    i {
        display: inline-block;
        font-size: 1.5rem;
        color: var(--db-secondary);
    }
}

.dd-right {
    width: 80%;

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}