/* #region CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    font-family: "Open Sans", sans-serif;
    min-width: 1020px;
}

/* #endregion CSS Reset */


/* #region Utilities */
:root {
    /* colors */
    --db-primary: #b4d0e6;
    --db-secondary: #0061fe;
    --db-darker: black;
    --db-lighter: white;

    /* font-size */
    --h1-size: 5rem;
    --h2-size: 2.75rem;
    --h3-size: 1.625rem;
    --standard-txt-size: 1.125rem;
    --card-txt-size: 1rem;
}

.large-container {
    width: 70%;
    margin: 0 auto;
}

.small-container {
    width: 60%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.m-bottom {
    margin-bottom: 5rem;
}

.padding {
    padding: 5rem 0;
}

.button {
    color: var(--db-lighter);
    background-color: var(--db-secondary);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

.opacity {
    opacity: 0.5;
}

/* #endregion utilities */



/* #region Generics */
h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p,
span,
a,
strong,
em {
    font-size: var(--standard-txt-size);
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fa-arrow-down {
    font-size: var(--h2-size);
}

/* #endregion Generics */

/* debug */
.debug * {
    border: 1px dashed black;
}










/* main */
main {
    height: 5000px;
    background-color: green;
}










/* partner */
.partner {
    height: 512px;
    gap: 1rem;
    background-color: yellow;
}

.partner-img {
    width: 70%;
    height: 100%;
    background-color: darkorange;
}

.partner-text {
    width: 30%;
    height: 100%;
    background-color: darkorange;
}





/* operations */
.operations {
    width: 100%;
    height: 1189px;
    background-color: yellow;
    flex-wrap: wrap;
    align-items: flex-end;
}

.operations-title {
    width: 100%;
    height: 58px;
    background-color: darkorange;
}

.operations-grid {
    width: 100%;
    height: 1055px;
    background-color: darkorange;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.operations-grid-card {
    width: 30%;
    height: 45%;
    background-color: orangered;
}




/* users */
.users {
    width: 100%;
    height: 217px;
    background-color: yellow;
    flex-wrap: wrap;
    align-items: flex-end;
}

.users-title {
    width: 60%;
    height: 104px;
    background-color: darkorange;
}

.users-text {
    width: 60%;
    height: 33px;
    background-color: darkorange;
}






/* footer */
footer {
    height: 570px;
    background-color: blue;
}

.footer-content {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.about {
    width: 100%;
    height: 261px;
    background-color: cyan;
}

.about-col {
    width: 25%;
}

.language {
    width: 130px;
    height: 79px;
    background-color: cyan;
}







/* #region header */

.menu {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.2rem;

    img {
        cursor: pointer;
    }
}


.list-unstyled {
    align-items: center;
    gap: 1.5rem;
}

header a {
    color: var(--db-darker);
}

/* #endregion header */









/* region main */
.separator {
    width: 100%;
    height: 2px;
    background-color: var(--db-darker);
    opacity: 0.2;
    margin-top: 10rem;
    margin-bottom: 5rem;
}


/* #region jumbotron */
.jumbotron {
    width: 100%;
}

.jumbo-bg {
    width: 100%;
    background-color: var(--db-primary);
    position: relative;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.jumbo-content {
    position: relative;
}

.jumbo-content h1 {
    font-weight: 800;
    margin-bottom: 3rem;
}

.jumbo-txt {
    width: 30%;
}

.jumbo-txt .button {
    margin: 2rem 0;
}

.jumbo-txt i {
    margin-top: 5rem;
}

.jumbo-image {
    width: 70%;
    position: absolute;
    right: 0;


    img {
        width: 100%;
    }
}

/* #endregion jumbotron */

/* #region #business */
.billing {
    display: inline-block;

    span {
        margin-right: 1rem;
    }
}


.business-plan {
    height: 1500px;
    background-color: yellow;
    align-items: flex-end;
    flex-wrap: wrap;
}

.business-title {
    width: 100%;
    height: 66px;
    background-color: darkorange;
}

.business-choice {
    width: 100%;
    height: 33px;
    background-color: darkorange;
}

.business-grid {
    width: 100%;
    background-color: darkorange;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/* #region business-cards */
.business-card-w33 {
    width: 33%;
    height: 70%;
    background-color: var(--db-lighter);
}

.card-title {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0;
}

.card-content {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem;

    strong,
    p,
    a,
    i {
        font-size: var(--card-txt-size);
        line-height: var(--card-txt-size);
    }

    h3{
        margin-bottom: 1.2rem;
    }

    p.opacity{
        margin: 1rem 0;
        padding-bottom: 2rem;
    }

    p.d-flex{
        padding: 1rem 0;

        i{
            width: 1rem;
            margin-right: 0.5rem;
        }
    }

    .button{
        margin: 3rem 0;
    }

    .recap{
        display: inline-block;
        margin-bottom: 1rem;
    }
}


.buy-link {
    color: var(--db-secondary);
}

.card-separator {
    width: 20%;
    height: 2px;
    background-color: var(--db-darker);
    margin: 3rem 0;
}

.fa-check {
    color: var(--db-secondary);
}

/* #endregion business-card */



