/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

body{
    font-family: "Open Sans", sans-serif;
    min-width: 1020px;
}


/* debug */
.debug{
    border: 1px dashed black;
}

header{
    height: 80px;
    background-color: red;
}

main{
    height: 5000px;
    background-color: green;
}

footer{
    height: 570px;
    background-color: blue;
}